/*==============================    ШРИФТЫ    ==============================*/
@font-face {
    font-family: 'csd_centered';
    src: url('../fonts/csd_centered.eot');
    src: url('../fonts/csd_centered.eot') format('embedded-opentype'),
         url('../fonts/csd_centered.woff2') format('woff2'),
         url('../fonts/csd_centered.woff') format('woff'),
         url('../fonts/csd_centered.ttf') format('truetype'),
         url('../fonts/csd_centered.svg#csd_centered') format('svg');
}
/*=========================    БАЗОВЫЕ НАСТРОЙКИ    =======================*/
body {
	background: #3E4649;
	color: #f7f7f7;
	font-family: 'Montserrat', sans-serif;
}
a:hover,
a:focus,
a:visited,
a:active {
	text-decoration: none;
	color: #f7f7f7;
}
h1,
h2 {
	font-weight: bold;
	}
p, footer {
	font-size: 16px;
	color: #cdcdcd;
}
/*============================    ШАПКА    ============================*/
.navbar {
	min-width: 442px;
	margin-bottom: 0;
}
.navbar-inverse {
	background: #2E2F31;
	border: 0;
}
.navbar-inverse .navbar-nav li a {
	color: #f7f7f7;
	font-size: 16px;
}
.navbar-inverse .navbar-nav li a:hover {
	background: #27A967;
}
.dropdown-menu {
	background: #2E2F31;
	border-radius: 0;
	border: 0;
}
.dropdown-menu li a {
	padding: 10px;
}
.navbar-inverse .navbar-nav .dropdown-menu li a:hover {
	background: #2C463C;
}
.cs_title {
	font-family: "csd_centered";
	font-size: 40px;
	vertical-align: middle;
	text-transform: lowercase;
}
body > nav > div > div.navbar-header > a,
#bs-example-navbar-collapse-1 > ul > li > a,
#bs-example-navbar-collapse-1 > ul > li.dropdown.open > ul > li a {
	text-transform: capitalize;
}
/*============================    ГЛАВНЫЙ ЭКРАН    ============================*/
.jumbotron {
	background: #27A967;
	color: white;
	text-align: center;
}
.jumbotron p {
	color: white;
	font-size: 26px;
}
.jumbotron h1 {
	text-transform: uppercase;
}
.call-to-action {
	text-align: center;
}
.call-to-action p {
	margin-bottom: 30px;
	font-family: sans-serif;
}
.glyphicon-large {
	font-size: 100px;
}
.thumbnail {
	background: #3E4649;
	border: 0;
}
.caption h3 {
	margin-top: 0;
	color: #ffffff;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    background-color: #9D9D9D;
}
.nav-pills > li > a {
  color: #fff;
}
.nav-pills > li > a:hover {
  color: #9D9D9D;
}
.panel-body {
	color: #333;
}
.panel-body p {
	color: #777;
}
.nav-pills li a {
	color: #333;
}
.figure {
  display: inline-block;
}

.figure-img {
  margin-bottom: 0.5rem;
  line-height: 1;
}

.figure-caption {
  font-size: 90%;
  color: #636c72;
  text-transform: uppercase;
}
figure {
  margin: 0 0 1rem;
}
figcaption,
figure,
main {
  display: block;
}
/*.big_link {
	font-family: 'Poppins', sans-serif;
	font-size: 60px;
	font-weight: bold;
	padding: 20px;
	text-transform: uppercase;
	text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.77);
	border: 1px solid rgba(157, 157, 157, 0.64);
	border-radius: 3px;
}
#main_link a {
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 36px;
	text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.77);
	line-height: 1.5;
	color: #fff;
}
#main_link .main_box {
	border: 5px solid white;
	margin-bottom: 40px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0,0,0,0.9);
}
#main_link a:hover {
	color: #27A967;
}
#main_link .col-md-12 {
	padding: 20px;
}
#main_link .main_box:hover {
	-webkit-box-shadow: 0px 0px 43px 3px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 43px 3px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 43px 3px rgba(0,0,0,0.75);
}
.col1 {
	background: url(../img/cs_rank.jpg) center / cover no-repeat;
}
.col2 {
	background: url(../img/maps_cover.jpg) top / auto 640px no-repeat;
}
.col3 {
	background: url(../img/cs-go-weapon.jpg) center center / 470px auto no-repeat;
}
.col4 {
	background: url(../img/winter-offensive-collection.jpg) left top/ 110% no-repeat;
}*/
#main_link .links:hover {
	color: #27A967;
	text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.77);
}
#main_link .row {
	display: flex;
}
#main_link .links {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	font-size: 40px;
	padding: 10px;
}
@media (min-width: 1200px) {
	#main_link .links {
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: 'Poppins', sans-serif;
		font-weight: bold;
		font-size: 40px;
		padding: 10px;
		width: 280px;
		height: 175px;
	}
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	#main_link .links {
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: 'Poppins', sans-serif;
		font-weight: bold;
		font-size: 40px;
		padding: 10px;
	}
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	#main_link .links {
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: 'Poppins', sans-serif;
		font-weight: bold;
	    font-size: 25px;
	    padding: 10px;

	}
	#main_link .row {
		flex-direction: column;
		padding: 15px
	}
}
 
/* Landscape phones and down */
@media (max-width: 480px) { ... }
/*============================    ФУТЕР (ПОДВАЛ)    ============================*/

/*.call-to-action {
	min-height: calc(100vh - 64.5vh)
}*/


footer {
	margin-top: 50px;
	padding: 20px 0 5px;
	background: #2e2f31;
}
footer ul.footer_li_children li {
	list-style-type: none;
	font-size: 13px;
}
footer ul.footer_li_children {
	padding-left: 5px;
	margin-bottom: 0;
}
footer p {
	font-size: 14px;
}
footer a {
	color: #cdcdcd;
}
footer a:hover {
	color: #f7f7f7;
}
.footer_title {
	padding-left: 0;
}

.footer_navbar {
	padding-left: 0;
	margin-bottom: 20px;
}
.footer_navbar div.col-md-6, .footer_navbar div.col-md-2 {
	padding: 0;
}
.footer_navbar a {
	text-transform: capitalize;
}
/*============================    MAPS    ============================*/

/*============================    WEAPON    ============================*/
.panel-default > .panel-heading {
	text-transform: uppercase;
}
section#main_weapon img {
	margin: 10px;
	float: left;
	width: 280px;
}
section#main_weapon h3 {
	text-transform: uppercase;
}
.smgs {
	text-transform: lowercase;
}
.nav-pills .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
#myScrollspy .nav-pills li a {
	white-space: nowrap;
}
#Pistols > ul > li > a,
#Heavy > ul > li > a,
#SMGs > ul > li > a,
#Rifles > ul > li > a,
#Gear > h4,
#Grenade > ul > li > a,
#topPos .panel-body h4 {
	text-transform: uppercase;
}
#weapon_primary > h4,
#weapon_primary > table > thead > tr > th,
#weapon_secondary > table > thead > tr > th {
	text-transform: capitalize;
}
#weapon_secondary > h4 {
	padding-top: 30px;
	text-transform: capitalize;
}
#myScrollspy > div.panel-body > ul > ul {
	padding-left: 20px;
}
/*============================    SPRAY    ============================*/
#miniweapon img {
	min-width: 65px;
    max-width: 65px;
    min-height: 65px;
    max-height: 65px;
}
#main_spray > div > ul {
	list-style-type: decimal;
}
#big_spray .figure img {
	min-width: 300px;
    max-width: 300px;
}
#main_spray h3 {
	text-transform: uppercase;
}
#big_spray h2 {
	text-transform: capitalize;
}
#myScrollspy > div.panel-body > ul > li:nth-child(4) > a {
	letter-spacing: -0.5px;
}
#body_spray > div.container > div > div.col-md-10 {
	padding-bottom: 50px;
}
#body_spray > div.container > div > div.col-md-10 a {
	text-decoration: none;
	color: #f7f7f7;
}
