/*==============================    ШРИФТЫ    ==============================*/
@font-face {
    font-family: 'csd_centered';
    src: url('../fonts/csd_centered.eot');
    src: url('../fonts/csd_centered.eot') format('embedded-opentype'),
         url('../fonts/csd_centered.woff2') format('woff2'),
         url('../fonts/csd_centered.woff') format('woff'),
         url('../fonts/csd_centered.ttf') format('truetype'),
         url('../fonts/csd_centered.svg#csd_centered') format('svg');
}
/*=========================    БАЗОВЫЕ НАСТРОЙКИ    =======================*/
body {
	background: #3E4649;
	color: #f7f7f7;
	font-family: 'Montserrat', sans-serif;
}
a:hover,
a:focus,
a:visited,
a:active {
	text-decoration: none;
	color: #f7f7f7;
}
h1,
h2 {
	font-weight: bold;
	}
p, footer {
	font-size: 16px;
	color: #cdcdcd;
}
/*============================    ШАПКА    ============================*/
.navbar {
	margin-bottom: 0;
}
.navbar-inverse {
	background: #2E2F31;
	border: 0;
}
.navbar-inverse .navbar-nav li a {
	color: #f7f7f7;
	font-size: 16px;
}
.navbar-inverse .navbar-nav li a:hover {
	background: #27A967;
}
.dropdown-menu {
	background: #2E2F31;
	border-radius: 0;
	border: 0;
}
.navbar-toggle {
	padding: 12px 12px;
}
.dropdown-menu li a {
	padding: 10px;
}
.navbar-inverse .navbar-nav .dropdown-menu li a:hover {
	background: #2C463C;
}
.cs_title {
	font-family: "csd_centered";
	font-size: 40px;
	vertical-align: middle;
	text-transform: lowercase;
}
body > nav > div > div.navbar-header > a,
#bs-example-navbar-collapse-1 > ul > li > a,
#bs-example-navbar-collapse-1 > ul > li.dropdown.open > ul > li a {
	text-transform: capitalize;
}
.navbar-brand {
	word-wrap: break-word;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > .open > a:hover {
  background: #27A967;
}
@media (max-width: 767px) { ... }
@media (max-width: 480px) {
	.navbar-brand {
		padding: 10px 15px;
		text-align: center;
		margin: -55px 80px 0px 5px;
		height: 60px;
	}
	.navbar-nav .dropdown-menu {
		position: static;
		float: none;
		width: auto;
		margin-top: 0;
		background-color: transparent;
		border: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	.navbar-nav .dropdown-menu > li > a {
		padding: 5px 15px 5px 25px;
	}
	.dropdown-menu {
		padding: 0;
	}
}
.dropdown .dropdown-menu {
  -webkit-transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s;
  -moz-transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s;
  -ms-transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s;
  -o-transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s;
  transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s;
  max-height: 0;
  display: block;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
}

.dropdown.open .dropdown-menu {
  -webkit-transition: max-height 0.3s, opacity 0.2s, visibility 0s;
  -moz-transition: max-height 0.3s, opacity 0.2s, visibility 0s;
  -ms-transition: max-height 0.3s, opacity 0.2s, visibility 0s;
  -o-transition: max-height 0.3s, opacity 0.2s, visibility 0s;
  transition: max-height 0.3s, opacity 0.2s, visibility 0s;
  max-height: 178px;
  opacity: 1;
  visibility: visible;
}
/*============================    ГЛАВНЫЙ ЭКРАН    ============================*/
.jumbotron {
	background: #27A967;
	color: white;
	text-align: center;
}
.jumbotron p {
	color: white;
	font-size: 26px;
}
.jumbotron h1 {
	text-transform: uppercase;
}
.thumbnail {
	background: #3E4649;
	border: 0;
}
.caption h3 {
	margin-top: 0;
	color: #ffffff;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    background-color: #9D9D9D;
}
.nav-pills > li > a {
  color: #fff;
}
.nav-pills > li > a:hover {
  color: #9D9D9D;
}
.panel-body {
	color: #333;
}
.panel-body p {
	color: #777;
}
.nav-pills li a {
	color: #333;
}
.figure {
  display: inline-block;
}

.figure-img {
  margin-bottom: 0.5rem;
  line-height: 1;
}

.figure-caption {
  font-size: 90%;
  color: #636c72;
  text-transform: uppercase;
}
figure {
  margin: 0 0 1rem;
}
figcaption,
figure,
main {
  display: block;
}

#main_link .links:hover {
	color: #27A967;
	text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.77);
}
#main_link .row {
	display: flex;
}
#main_link .links {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	font-size: 40px;
	padding: 10px;
}
@media (min-width: 1200px) {
	#main_link .links {
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: 'Poppins', sans-serif;
		font-weight: bold;
		font-size: 40px;
		padding: 10px;
		width: 280px;
		height: 175px;
	}
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	#main_link .links {
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: 'Poppins', sans-serif;
		font-weight: bold;
		font-size: 40px;
		padding: 10px;
	}
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	#main_link .links {
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: 'Poppins', sans-serif;
		font-weight: bold;
	    font-size: 25px;
	    padding: 10px;

	}
	#main_link .row {
		flex-direction: column;
		padding: 15px
	}
}
 
/* Landscape phones and down */
@media (max-width: 480px) { ... }
/*============================    ФУТЕР (ПОДВАЛ)    ============================*/
footer {
	margin-top: 50px;
	padding: 20px 0 5px;
	background: #2e2f31;
}
footer ul.footer_li_children li {
	list-style-type: none;
	font-size: 13px;
}
footer ul.footer_li_children {
	padding-left: 5px;
	margin-bottom: 0;
}
footer p {
	font-size: 14px;
}
footer a {
	color: #cdcdcd;
	text-transform: capitalize;
}
footer a:hover {
	color: #9d9d9d;
}
.footer_title {
	padding-left: 0;
}
.footer_navbar {
	padding-left: 0;
	margin-bottom: 20px;
}
.footer_navbar div.col-md-6, .footer_navbar div.col-md-2 {
	padding: 0 0 5px;
}
.footer_navbar li {
	padding: 3px 0;
}
/*============================    MAPS    ============================*/
#de_dust2,
#de_mirage,
#de_inferno,
#de_nuke,
#de_cbble,
#de_cache,
#de_overpass,
#de_train,
#de_dust,
#cs_office,
#de_aztec,
#cs_assault,
#cs_italy,
#cs_militia {
	display: inline-block;
}
.panel-body a.btn.btn-default {
	float: right;
	text-transform: capitalize;
	color: #333;
}
#links_xs a{
	color: #333;
	text-transform: capitalize;
}
.modal-dialog {
	color: #333;
}
/*============================    WEAPON    ============================*/
.panel-default > .panel-heading {
	text-transform: uppercase;
}
section#main_weapon img {
	margin: 10px;
	float: left;
	width: 280px;
}
section#main_weapon h3 {
	text-transform: uppercase;
}
.smgs {
	text-transform: lowercase;
}
.nav-pills .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
#myScrollspy .nav-pills li a {
	white-space: nowrap;
}
#Pistols > ul > li > a,
#Heavy > ul > li > a,
#SMGs > ul > li > a,
#Rifles > ul > li > a,
#Gear > h4,
#Grenade > ul > li > a,
#topPos .panel-body h4 {
	text-transform: uppercase;
}
#weapon_primary > h4,
#weapon_primary > table > thead > tr > th,
#weapon_secondary > table > thead > tr > th {
	text-transform: capitalize;
}
#weapon_secondary > h4 {
	padding-top: 30px;
	text-transform: capitalize;
}
#myScrollspy > div.panel-body > ul > ul {
	padding-left: 20px;
}
#Pistols,
#Heavy,
#SMGs,
#Rifles,
#Gear,
#weapon_primary,
#weapon_secondary {
	display: inline-block;
}
/*============================    SPRAY    ============================*/
#miniweapon img {
	min-width: 65px;
    max-width: 65px;
    min-height: 65px;
    max-height: 65px;
}
#main_spray > div > ul {
	list-style-type: decimal;
}
#big_spray .figure img {
	min-width: 300px;
    max-width: 300px;
}
#main_spray h3 {
	text-transform: uppercase;
}
#big_spray h2 {
	text-transform: capitalize;
}
#myScrollspy > div.panel-body > ul > li:nth-child(4) > a {
	letter-spacing: -0.5px;
}
#body_spray > div.container > div > div.col-md-10 {
	padding-bottom: 50px;
}
#body_spray > div.container > div > div.col-md-10 a {
	text-decoration: none;
	color: #f7f7f7;
}
#miniweapon,
#main_spray,
#Rifles {
	display: inline-block;
}
#body_spray a.btn.btn-default {
	float: right;
	text-transform: capitalize;
	background: #3E4649;
	color: #f7f7f7;
}
#miniweapon #links_xs .nav>li>a:focus,
#miniweapon #links_xs .nav>li>a:hover {
	background: #485154;
}
