body {
	margin:0px; padding:0px;
	background-color:#131211;
	font-family:Arial, Helvetica, sans-serif;
	color:#7f7d78;
	font-size:13px;
	line-height:19px;
}
h2 {
	text-align: center;
}
img {
	padding: 10px;
}
.center {
    width: 1096px; /* Ширина элемента в пикселах */
    padding: 10px; /* Поля вокруг текста */
    margin: 0 auto; /* Выравниваем по центру */
   // background: #fc0; /* Цвет фона */
   }


